%div{:id => 'header'}
  %div{:id => 'title'}
    = image_tag('logo.png', :size => '80x95', :style => 'display: inline-block;')
    = link_to "MonsterLabs", "http://monsterlabs.com.mx", :target => '_new'
